import(ggplot2)
import(brnn)
import(reshape2)
import(oce)
importFrom(scales, "pretty_breaks")
importFrom("stats", "cor", "lm", "qt", "quantile")

export(daily_response)
export(plot_extreme)
export(plot_heatmap)
export(plot_specific)
export(smooth_matrix)
export(critical_r)
